<h3>Features and project overview</h3>

<p>
  Built in a small apartment in Kfar Saba.
</p>
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<p><strong>Bootstrap Fluency:</strong> Added various bootstrap features like grid, buttons, accordion, modal, navbar and
  more. Hopyfully, next project will be done with Angular Material :).</p>
<p>
  <strong>Working with the data:</strong> HTTP GET, POST, PUT, DELETE to manipulate the in-memory-data service. Custom
  functions to filter data.
  Example can be found here (GIF taken from values page):<br>
  <img style="margin-left: 50px;" src="https://media.giphy.com/media/20NVm9hEItafztavIq/giphy.gif"/>
</p>
<p><strong>Full CRUD:</strong> Able to add, edit, delete and search objects.</p>
<p><strong>Cool NPMs:</strong> Added Angular Maps (AGM), ng-CKeditor and more.</p>
