.btn-edit {
  background-color: #ff9835;
  border: none;
  color: white;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-edit:hover {
  background-color: #bf7227;
}

.btn-delete {
  background-color: Crimson;
  border: none;
  color: white;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-delete:hover {
  background-color: DarkRed;
}


.categoryButton {
  display: inline-block;
  border-radius: 0px;
  background-color: #7b777b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 15px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.categoryButton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.categoryButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.categoryButton:hover span {
  padding-right: 25px;
}

.categoryButton:hover span:after {
  opacity: 1;
  right: 0;
}
